{{template "layout" .}}
{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="mt-5">Microservices with Go</h1>
             {{/* TODO add a button named "Test broker" with id "brokerBtn"  */}}

        <div id="output" class="mt-5" style="outline: 1px solid silver; padding: 2em;">
                    <span class="text-muted">Output shows here...</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="mt-5">Sent</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="payload"><span class="text-muted">Nothing sent yet...</span></pre>
                </div>
            </div>
            <div class="col">
                <h4 class="mt-5">Received</h4>
                <div class="mt-1" style="outline: 1px solid silver; padding: 2em;">
                    <pre id="received"><span class="text-muted">Nothing received yet...</span></pre>
                </div>
            </div>
        </div>
    </div>

{{end}}

{{ define "js" }}
<script>
    // TODO
    // define a variable "brokerBtn" that links to the button with id "brokerBtn"
    // define a variable "output" that links to the div with id "output"
    // define a variable "sent" that links to the pre with id "payload"
    // define a variable "received" that links to the pre with id "received"
    // Add an event listener to the button "brokerBtn" that listens for a click event
    // When the button is clicked, send a POST request to the broker endpoint at "http://localhost:8080"
    // with the headers: { "Content-Type": "application/json" }
    // and with the body: JSON.stringify({ key: "value" })
    // in a .then, convert the response to json
    // in another .then:
    // - set the innerHTML of the "sent" div to "empty POST request sent"
    // - set the innerHTML of the "received" div to the stringified response data
    // - if data.error is not empty, log it to the console
    // - else, add the response data to the "output" div with "Response from broker: " prepended
    // in a .catch, add the error message to the "output" div
</script>
{{ end }}